name: Run Python Script on Schedule

on:
  workflow_dispatch: # Permitir ejecuci칩n manual desde la interfaz de GitHub
  schedule:
    # Ejecutar a las 22:00 hora Espa침a (21:00 UTC) los s치bados y lunes
    - cron: "0 21 * * 2,6" # S치bado y Lunes a las 22:00 CEST (21:00 UTC)

jobs:
  run-python-script:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium webdriver-manager

      - name: Run the Python script
        run: |
          python bot_reservar_clase.py
